.ant-tabs-nav-list {
  border-bottom: 1px solid var(--font-color-white);
  height: 30px;
}

/* overriding antd tab styles */
.ant-tabs-tab {
  background: var(--background) !important;
  color: var(--font-color-primary) !important; /* or any color you want */
  /* border-bottom: 1px solid #8d8d8d70; */
}

div.ant-tabs-tab-active .ant-tabs-tab {
  background: var(--background) !important;
  font-weight: bold;
  /* border: 1px solid red; */
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--font-color-white) !important;
}

/* .ant-tabs-nav {
  background: #23272a !important;
} */

/* TODO: finish converting styling to dark mode */
.ant-tabs-tab-active {
  color: var(--font-color-white) !important; /* highlight color */
  /* background-color: var(--font-color-primary) !important; */
  /* border-color: var(--font-color-primary) !important; */
}
