.info-content {
  padding: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

/* overriding antd tab styles */
.ant-tabs-tab {
  color: var(--font-color-white) !important; /* or any color you want */
}

/* TODO: finish converting styling to dark mode */
.ant-tabs-tab-active {
  color: var(--font-color-white) !important; /* highlight color */
  background-color: var(--font-color-primary) !important;
  border-color: var(--font-color-primary) !important;
}
