.tradingGridItem {
  border: 1px solid grey;
  border-radius: 0.5rem;
  height: 41vh;
  min-height: 320px;
  overflow: hidden;
}

/* @media (max-height: 900px) {
  .trading-grid-item {
    height: 39vh;
  }
} */

.gridItemHeader {
  background-color: var(--bg-primary);
  color: var(--font-color-white);
  padding: 0.5rem;
  height: 2.2rem;
}

.gridItemContent {
  padding: 5px;
  height: inherit;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
}

.gridItemContent::-webkit-scrollbar {
  width: 5px; /* For Chrome, Safari, Edge */
}
