.trading-grid-item {
  border: 1px solid grey;
  border-radius: 0.5rem;
  height: 44vh;
  overflow: hidden;
}

/* @media (max-height: 900px) {
  .trading-grid-item {
    height: 39vh;
  }
} */

.drag-handle {
  background-color: var(--bg-primary);
  color: var(--font-color-white);
  padding: 0.5rem;
}
