@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --background: #f9fafb; /* light gray background */
  --border: #e5e7eb; /* light border color (Tailwind's gray-200) */
  --bg-primary: #00425a; /* dark background for primary elements */
  --bg-secondary: #00a1dc3b; /* TODO: style the grids */
  --text-primary: #fff;
}

html,
body {
  font-family: var(--font-sans);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

/* Optional: border styling for top nav and footer */
header,
footer {
  border-color: var(--border);
  border-style: solid;
  border-width: 0;
}

header {
  border-bottom-width: 1px;
  padding: 1rem;
  width: 100%;
}

.nav-link-container {
  display: flex;
  gap: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
  min-height: 90vh;
}

footer {
  border-top-width: 1px;
  padding: 1rem;
}

.grid-item {
  overflow: auto;
}
