@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-color-primary: #2a86a7;
  --font-color-secondary: #252c2f;
  --font-color-white: #d4d4d4;
  --background: #1e1e1e;
  --border: #8d8d8d70;
  --bg-primary: #00425a;
  --bg-secondary: #00a1dc3b;
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--font-color-white);
  background-color: var(--background);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Optional: border styling for top nav and footer */
header,
footer {
  border-color: var(--border);
  border-style: solid;
  border-width: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding: 1rem;
  width: 100%;
  position: fixed; /* Make header fixed */
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--background); /* Ensure header has background */
}

nav.nav-link-container {
  display: flex;
  gap: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
  height: 80vh;
  margin-top: 72px; /* Add margin to prevent content under header (adjust as needed) */
}

footer {
  width: 100%;
  background: var(--background);
  color: var(--font-color-white);
  border-top: 1px solid var(--border);
  margin-top: auto;
  text-align: center;
  align-content: center;
  padding: 1.5rem 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.footer-link {
  color: var(--font-color-primary);
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-contact {
  color: var(--font-color-primary);
  font-size: 1.1rem;
}

.grid-item {
  overflow: auto;
}

/* -------------------------------- */
