@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-color-primary: #076588;
  --font-color-secondary: #445358;
  --font-color-white: #fff;
  --background: #f9fafb; /* light gray background */
  --border: #e5e7eb; /* light border color (Tailwind's gray-200) */
  --bg-primary: #00425a; /* dark background for primary elements */
  --bg-secondary: #00a1dc3b; /* TODO: style the grids */
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Optional: border styling for top nav and footer */
header,
footer {
  border-color: var(--border);
  border-style: solid;
  border-width: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding: 1rem;
  width: 100%;
}

nav.nav-link-container {
  display: flex;
  gap: 1rem;
}

main {
  flex: 1;
  padding: 1rem;
  min-height: 90vh;
}

footer {
  border-top-width: 1px;
  padding: 1rem;
}

.grid-item {
  overflow: auto;
}

/* -------------------------------- */
