table.watch-list {
  border-spacing: 0;
}

table > thead {
  font-weight: bold;
  /* TODO: use theme color */
  /* background-color: var(--bg-secondary); */
}

th.cursor-pointer {
  transition: background 0.2s;
}

th.cursor-pointer:hover {
  background: #23272a; /* or use a softer color like #2a2d32 or #22262a */
}

tr {
  height: 1.8rem;
}
tr.equity-row:hover,
tr.active {
  background-color: var(--bg-secondary);
}

td {
  margin: 0;
  padding: 0;
}
td:hover {
  cursor: pointer;
}

.sticky-col {
  position: sticky;
  left: 0;
  background: #1e1e1e; /* Match your table background */
  box-shadow: 2px 0 8px -2px rgba(0, 0, 0, 0.04);
}
