/* .news-container {
  overflow: auto;
} */

.news-card {
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.news-card-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-card-header-row > span {
  font-weight: bold;
  font-size: 1.2rem;
}
span.sentiment-positive {
  color: green;
}
span.sentiment-negative {
  color: red;
}
span.sentiment-neutral {
  color: grey;
}
