.newsCard {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--font-color-white);
}

.newsCardHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsCardHeaderRow > span {
  font-weight: bold;
  font-size: 1.2rem;
}
